@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" type="text/css" href="css/site.css">
<div class="text-center">
    <h1 class="display-4">Wypożyczalnia samochodowa</h1>
  <p>Projekt zaliczeniowy z przedmiotu baz danych. Wpisanie danych do logowania Admin, Admin spowoduje przeniesienie na widok podsumowujący wynajem</p>
</div>
<div id="galeria">
    <a href="~/img/astra.jpg">
        <img src="~/img/astra.jpg" width="300" height="200" />
    </a>
    <a href="~/img/focusSt.jpg">
        <img src="~/img/focusSt.jpg" width="300" height="200" />
    </a>
    <a href="~/img/i30.jpg">
        <img src="~/img/i30.jpg" width="300" height="200" />
    </a>
    <a href="~/img/mondeo.jpg">
        <img src="~/img/mondeo.jpg" width="300" height="200" />
    </a>
    <a href="~/img/peugeot.jpg">
        <img src="~/img/peugeot.jpg" width="300" height="200" />
    </a>
    <a href="~/img/skoda.jpg">
        <img src="~/img/skoda.jpg" width="300" height="200" />
    </a>
</div>
