@model StudentManagement21A2.Models.Rent

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Rent</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id_klienta" class="control-label"></label>
                <select asp-for="Id_klienta" class ="form-control" asp-items="ViewBag.Id_klienta"></select>
            </div>
            <div class="form-group">
                <label asp-for="Nr_rej" class="control-label"></label>
                <select asp-for="Nr_rej" class ="form-control" asp-items="ViewBag.Nr_rej"></select>
            </div>
            <div class="form-group">
                <label asp-for="Data_od" class="control-label"></label>
                <input asp-for="Data_od" class="form-control" />
                <span asp-validation-for="Data_od" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Data_do" class="control-label"></label>
                <input asp-for="Data_do" class="form-control" />
                <span asp-validation-for="Data_do" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
